:root {
    --red: #EB102F; 
    --dark: #242424;
    --light-gray: #EAEAEA;
    --strong-dark: #272727;

}


.bg-red {
    background-color: var(--red);
}


.bg-dark {
    background-color: var(--dark);
}

.bg-strong-dark {
    background-color: var(--strong-dark);
}

.text-red {
    color: var(--red);
}

.bg-light {
    background-color: var(--light-gray);
}


body {
    background: url('../images/velvet-dubai/astronaut.png') no-repeat center top;
    background-size: 100% 868px;
    background-attachment: scroll; /* Фиксированная высота фона */
}


.card-back-red::after {
    content: "";
    position: absolute;
    bottom: -411px;
    /* left: -80px; */
    width: 23.7%;
    height: 65px;
    background-color: red;
    /* z-index: -5; */
    margin-left: 54px;
}

/* .card {
    position: relative;
    z-index: 5;
} */




h1 {
    font-size: 55px;
    font-weight: bold;
}


h2 {
    font-size: 50px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}


.digital-consulting {
    position: absolute;
    bottom: 85px;
    left: -130px;
    z-index: 2;
    color: white;
    padding: 18px;
    font-weight: bold;
}


.digital-consulting::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: red;
    z-index: -1;
    opacity: 0.59;
}


/* .contact-form-section {
    width: 87%;
    right: 125px;
    top: 729%;
    transform: translateY(50%);
    z-index: 1;
    padding: 2rem;
} */

/* .footer-content {
    padding-top: 10rem;
}  */


.contact-form-section {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    top: 126px;
    z-index: 1;
    background-color: #f8f9fa;
}


.footer-content {
    padding-top: 10rem;
}